
<div class="container">
  <h1><%=@query%></h1>
  <p>-You</p>

  <h1><%=@answer%></h1>
  <p>-Coach</p>

  <%= link_to "Ask a new question", "/ask" %>
</div>
<!-- will display the question you ask your coach as well as his answer. -->
